In [1]:
import pandas as pd
import pickle
import re
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from scipy.optimize import linear_sum_assignment
import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
x = pickle.load(open("../data/sim_result_with_firm_dtm.pkl",'rb'))

In [3]:
scores = pd.DataFrame([item[0:3]+item[3]+[len(item[4]), len(item[5])] for item in x], \
                      columns = ["cik",'y1','y2', 's1', 's2', 's3', 's4', 'l1','l2'])

scores.head()

    cik    y1    y2        s1        s2        s3        s4  l1   l2
0  2135  2001  2002  0.752746  0.752746  0.769208  0.769208  34   91
1  2135  2001  2003  0.544492  0.544492  0.566316  0.566316  34  107
2  2135  2001  2004  0.484842  0.484842  0.513163  0.513163  34  128
3  2135  2002  2003  0.689329  0.689329  0.704758  0.704758  91  107
4  2135  2002  2004  0.621834  0.621834  0.646809  0.646809  91  128

In [4]:
scores["window"]= scores.y2-scores.y1
len(scores)
scores.head()

11519

    cik    y1    y2        s1        s2        s3        s4  l1   l2  window
0  2135  2001  2002  0.752746  0.752746  0.769208  0.769208  34   91       1
1  2135  2001  2003  0.544492  0.544492  0.566316  0.566316  34  107       2
2  2135  2001  2004  0.484842  0.484842  0.513163  0.513163  34  128       3
3  2135  2002  2003  0.689329  0.689329  0.704758  0.704758  91  107       1
4  2135  2002  2004  0.621834  0.621834  0.646809  0.646809  91  128       2

In [5]:
scores.window.value_counts()

1    4305
2    3825
3    3389
Name: window, dtype: int64

In [30]:
gvk_cik = pd.read_csv('/home/jujun/temp_10k/fscore_data/wciklink_gvkey_20200109.csv')

In [31]:
gvk_cik.head()

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_A,FLAG
0,1000,A & E PLASTIK PAK INC,31-Dec-64,31-Dec-77,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,0
1,1001,A & M FOOD SERVICES INC,31-Dec-78,31-Dec-85,723576.0,COMPN,NaN,NaN,NaN,NaN,NaN,1
2,1002,AAI CORP,31-Dec-68,31-Dec-72,1745.0,COMPN,NaN,NaN,NaN,NaN,NaN,1
3,1002,AAI CORP,31-Dec-68,31-Dec-72,1306124.0,FDATE,AAI CORP,12-Nov-04,11-May-05,0.0,0.0,3
4,1003,A.A. IMPORTING CO INC,31-Dec-80,31-Jan-90,730052.0,COMPN,NaN,NaN,NaN,NaN,NaN,1

In [32]:
gvk_cik.gvkey.isnull().sum()

0

In [33]:
gvk_cik.cik.isnull().sum()

13832

In [34]:
gvk_cik_1 = gvk_cik.dropna()

In [36]:
gvk_cik_1.cik.isnull().sum()

0

In [37]:
def check(cik_list,x):
    r = 0
    if x in cik_list:
        r = 1
    return r

In [41]:
cik_list = list(set(scores.cik))
len(cik_list)

489

In [39]:
gvk_cik_1['keep_cik'] = gvk_cik_1.cik.apply(lambda x: check(cik_list,x))

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
gvk_cik_1.keep_cik.value_counts()

0    26128
1      497
Name: keep_cik, dtype: int64

In [42]:
gvk_cik_fl = gvk_cik_1[gvk_cik_1.keep_cik == 1]

In [43]:
gvk_cik_fl.shape

(497, 13)

In [69]:
from datetime import datetime

In [76]:
def convert_date(x):
    date_time_obj = datetime. strptime(x, '%d-%b-%y')
    return date_time_obj.year

In [77]:
gvk_cik_fl['date1'] = gvk_cik_fl.DATADATE1.apply(lambda x: convert_date(x))
gvk_cik_fl['date2'] = gvk_cik_fl.DATADATE2.apply(lambda x: convert_date(x))

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [79]:
gvk_cik_fl.head()

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_A,FLAG,keep_cik,date1,date2
178,1164,MCI INC,31-Dec-74,31-Dec-04,723527.0,COMPN,MCI INC,21-Nov-94,27-Sep-06,13.0,3.0,3,1,1974,2004
188,1173,AEROSONIC CORP,31-Jan-74,31-Jan-13,109471.0,COMPN,AEROSONIC CORP /DE/,26-Apr-95,8-Jul-13,26.0,4.0,3,1,1974,2013
307,1278,SUNBEAM CORPORATION,31-Dec-50,31-Dec-99,3662.0,COMPN,SUNBEAM CORP/FL/,2-Feb-96,30-Dec-02,10.0,3.0,3,1,2050,1999
483,1447,AMERICAN EXPRESS CO,31-Dec-60,31-Dec-17,4962.0,COMPN,AMERICAN EXPRESS CO,25-Jan-94,16-Sep-19,29.0,4.0,3,1,2060,2017
527,1487,AMERICAN INTERNATIONAL GROUP,31-Dec-72,31-Dec-17,5272.0,COMPN,AMERICAN INTERNATIONAL GROUP INC,30-Mar-94,23-Aug-19,38.0,12.0,3,1,1972,2017

In [51]:
gvk_cik_fl[gvk_cik_fl.duplicated(subset=['gvkey','cik'],keep=False)]

Empty DataFrame
Columns: [gvkey, conm, DATADATE1, DATADATE2, cik, SOURCE, coname, FNDATE, LNDATE, N10K, N10K_A, FLAG, keep_cik]
Index: []

In [49]:
gvk_cik_fl[gvk_cik_fl.duplicated(subset=['gvkey'],keep=False)]

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_A,FLAG,keep_cik
12343,12485,ALTICE USA INC,31-Dec-85,31-Dec-16,784681.0,FDATE,CSC HOLDINGS LLC,10-Feb-94,6-Jul-16,43.0,18.0,2,1
12344,12485,ALTICE USA INC,31-Dec-85,31-Dec-16,1053112.0,CUSIP,CABLEVISION SYSTEMS CORP /NY,20-Jan-98,6-Jul-16,32.0,13.0,2,1

In [52]:
gvk_cik_fl_dplc = gvk_cik_fl[gvk_cik_fl.duplicated(subset=['cik'],keep=False)]

In [53]:
gvk_cik_fl_dplc.shape

(50, 13)

In [54]:
dplc_cik = list(set(gvk_cik_fl_dplc.cik))

In [140]:
def match_cik_gvk(c,y, dplc_cik,gvk_cik_fl):
    gvk = None
    if c in dplc_cik:
        temp_gvk_cik = gvk_cik_fl[gvk_cik_fl.cik == c]
        for i, idx in enumerate(temp_gvk_cik.index):
            if temp_gvk_cik.date1[idx] <= y <= temp_gvk_cik.date2[idx]:
                gvk = temp_gvk_cik.gvkey[idx]
        if gvk == None:
            temp_gvk_cik = temp_gvk_cik.sort_values(by = ['date2'])
            if len(temp_gvk_cik) == 2:
                if y <= temp_gvk_cik.date2.iloc[0]:
                    gvk = temp_gvk_cik.gvkey.iloc[0]
                else:
                    gvk = temp_gvk_cik.gvkey.iloc[1]
            
    else:
        temp_gvk_cik = gvk_cik_fl[gvk_cik_fl.cik == c]
        if len(temp_gvk_cik) >=1:
            gvk = temp_gvk_cik.gvkey.iloc[0]
    return gvk

In [141]:
scores.cik.isnull().sum()

0

In [142]:
scores['gvkey'] = None

In [143]:
scores['gvkey'] = scores.apply(lambda x: match_cik_gvk(x.cik, x.y1, dplc_cik, gvk_cik_fl),axis=1)

In [164]:
temp = scores[scores.cik == 833444]
for idx in temp.index:
    if np.isnan(temp.gvkey[idx]):
        scores.loc[idx,'gvkey'] = 6268

In [165]:
scores[scores.cik == 833444]

,cik,y1,y2,s1,s2,s3,s4,l1,l2,window,gvkey
5125,833444,1996,1998,0.313915,0.179380,0.311784,0.176618,63,36,2,15349.0
5126,833444,1996,1999,0.286647,0.286647,0.285140,0.285140,63,190,3,15349.0
5127,833444,1998,1999,0.651483,0.651483,0.653042,0.653042,36,190,1,6268.0
5128,833444,1998,2000,0.322836,0.170386,0.372121,0.184419,36,19,2,6268.0
5129,833444,1998,2001,0.197315,0.186353,0.203955,0.197506,36,34,3,6268.0
5130,833444,1999,2000,0.844624,0.084462,0.818692,0.093798,190,19,1,6268.0
5131,833444,1999,2001,0.470546,0.084203,0.485261,0.099173,190,34,2,6268.0
5132,833444,1999,2002,0.603598,0.073067,0.568589,0.088717,190,23,3,6268.0
5133,833444,2000,2001,0.684369,0.684369,0.709553,0.709553,19,34,1,6268.0
5134,833444,2000,2002,0.562977,0.562977,0.595665,0.595665,19,23,2,6268.0
5135,833444,2000,2003,0.603089,0.603089,0.633546,0.633546,19,557,3,6268.0
5136,833444,2001,2002,0.579128,0.391763,0.602857,0.412620,34,23,1,6268.0
5137,833444,2001,2003,0.472368,0.472368,0.493310,0.493310,34,557,2,6268.0
5138,833444,2001,2004,0.337518,0.337518,0.362187,0.362187,34,184,3,6268.0
5139,833444,2002,2003,0.818388,0.818388,0.833561,0.833561,23,557,1,6268.0
5140,833444,2002,2004,0.444687,0.444687,0.479721,0.479721,23,184,2,6268.0
5141,833444,2002,2005,0.605155,0.605155,0.639449,0.639449,23,179,3,6268.0
5142,833444,2003,2004,0.681129,0.225005,0.709249,0.248854,557,184,1,6268.0
5143,833444,2003,2005,0.609074,0.195735,0.598994,0.198359,557,179,2,6268.0
5144,833444,2003,2006,0.506683,0.189210,0.489140,0.182225,557,208,3,6268.0
5145,833444,2004,2005,0.709964,0.690672,0.689459,0.674907,184,179,1,6268.0
5146,833444,2004,2006,0.572015,0.572015,0.542398,0.542398,184,208,2,6268.0
5147,833444,2004,2007,0.485997,0.485997,0.467832,0.467832,184,211,3,6268.0
5148,833444,2005,2006,0.726358,0.726358,0.713728,0.713728,179,208,1,6268.0
5149,833444,2005,2007,0.543399,0.543399,0.525750,0.525750,179,211,2,6268.0
5150,833444,2005,2008,0.525493,0.525493,0.509070,0.509070,179,250,3,6268.0
5151,833444,2006,2007,0.564954,0.564954,0.574350,0.574350,208,211,1,6268.0
5152,833444,2006,2008,0.534761,0.534761,0.534453,0.534453,208,250,2,6268.0
5153,833444,2006,2009,0.466456,0.464214,0.450447,0.449376,208,207,3,6268.0
5154,833444,2007,2008,0.741016,0.741016,0.743379,0.743379,211,250,1,6268.0
5155,833444,2007,2009,0.591127,0.579921,0.574876,0.565618,211,207,2,6268.0
5156,833444,2007,2010,0.581770,0.432881,0.565315,0.398405,211,157,3,6268.0
5157,833444,2008,2009,0.747569,0.618987,0.730727,0.605227,250,207,1,6268.0
5158,833444,2008,2010,0.641202,0.402675,0.625743,0.378500,250,157,2,6268.0
5159,833444,2008,2011,0.589220,0.384171,0.567803,0.365103,250,163,3,6268.0
5160,833444,2009,2010,0.704287,0.534169,0.703643,0.528359,207,157,1,6268.0
5161,833444,2009,2011,0.605624,0.476893,0.587459,0.457965,207,163,2,6268.0
5162,833444,2009,2012,0.564286,0.384369,0.547579,0.365860,207,141,3,6268.0
5163,833444,2010,2011,0.726245,0.726245,0.725502,0.725502,157,163,1,6268.0
5164,833444,2010,2012,0.626508,0.562660,0.607104,0.550730,157,141,2,6268.0
5165,833444,2010,2013,0.577026,0.525572,0.574544,0.531164,157,143,3,6268.0
5166,833444,2011,2012,0.685613,0.593076,0.664714,0.585935,163,141,1,6268.0
5167,833444,2011,2013,0.628342,0.551245,0.632459,0.550199,163,143,2,6268.0
5168,833444,2011,2014,0.595110,0.518439,0.598215,0.525936,163,142,3,6268.0
5169,833444,2012,2013,0.814046,0.814046,0.850545,0.850545,141,143,1,6268.0
5170,833444,2012,2014,0.742988,0.742988,0.787324,0.787324,141,142,2,6268.0
5171,833444,2012,2015,0.716266,0.716266,0.753246,0.753246,141,154,3,6268.0
5172,833444,2013,2014,0.841748,0.835861,0.876598,0.872678,143,142,1,6268.0
5173,833444,2013,2015,0.765093,0.765093,0.797531,0.797531,143,154,2,6268.0
5174,833444,2013,2016,0.309363,0.309363,0.330777,0.330777,143,205,3,6268.0
5175,833444,2014,2015,0.845044,0.845044,0.859742,0.859742,142,154,1,6268.0
5176,833444,2014,2016,0.305875,0.305875,0.327830,0.327830,142,205,2,6268.0
5177,833444,2014,2017,0.294166,0.294166,0.313976,0.313976,142,176,3,6268.0
5178,833444,2015,2016,0.310110,0.310110,0.326138,0.326138,154,205,1,6268.0
5179,833444,2015,2017,0.304064,0.304064,0.317009,0.317009,154,176,2,6268.0
5180,833444,2016,2017,0.794916,0.682464,0.803166,0.685442,205,176,1,6268.0

In [145]:
scores.gvkey.isnull().sum()

303

In [166]:
scores[scores.gvkey.isnull()].groupby('cik').size()

cik
27960      21
76348       9
99771      30
921066      5
1021009     6
1029315     3
1062982     3
1095722     3
1108955    12
1157522    24
1220606    27
1277151    21
1312910    27
1329011    15
1343504     6
1377848    24
1387361    12
1497814     1
dtype: int64

In [170]:
gvk_cik_fl[gvk_cik_fl.cik == 99771]

Empty DataFrame
Columns: [gvkey, conm, DATADATE1, DATADATE2, cik, SOURCE, coname, FNDATE, LNDATE, N10K, N10K_A, FLAG, keep_cik, date1, date2]
Index: []

In [58]:
gvk_cik_fl[gvk_cik_fl.duplicated(subset=['cik','FLAG'],keep=False)]

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_A,FLAG,keep_cik
3346,4093,DUKE ENERGY CORP,31-Dec-51,31-Dec-17,1326160.0,COMPN,DUKE ENERGY CORP,9-May-05,12-Sep-19,16.0,3.0,3,1
6067,6598,PHOTOMEDEX INC-OLD,31-Dec-82,31-Dec-10,711665.0,CUSIP,"GADSDEN PROPERTIES, INC.",19-Jul-96,20-Sep-19,39.0,10.0,2,1
8895,9224,SAFETY-KLEEN CORP,30-Sep-82,31-Aug-99,701856.0,COMPN,SAFETY KLEEN CORP/,25-Jan-94,29-Dec-03,12.0,3.0,3,1
9040,9357,SAFETY-KLEEN CORP-OLD,31-Dec-79,31-Dec-97,701856.0,CUSIP,SAFETY KLEEN CORP/,25-Jan-94,29-Dec-03,12.0,3.0,3,1
10565,10787,TYCO INTERNATIONAL PLC,31-May-64,30-Sep-15,833444.0,FDATE,JOHNSON CONTROLS INTERNATIONAL PLC,9-Feb-95,13-Sep-19,32.0,8.0,2,1
11271,11450,WESTWOOD ONE INC -OLD,30-Nov-83,31-Dec-10,771950.0,CUSIP,"DIAL GLOBAL, INC. /DE/",11-Jan-94,12-Apr-13,29.0,7.0,2,1
13443,13510,DUKE REALTY CORP,31-Dec-86,31-Dec-17,1326160.0,CUSIP,DUKE ENERGY CORP,9-May-05,12-Sep-19,16.0,3.0,3,1
14470,14541,SURETY CAPITAL CORP -OLD,31-Oct-86,31-Oct-89,784932.0,CUSIP,SURETY CAPITAL CORP /DE/,13-Feb-95,23-May-08,21.0,1.0,3,1
15294,15349,ADT LTD,31-Dec-85,31-Dec-96,833444.0,FDATE,JOHNSON CONTROLS INTERNATIONAL PLC,9-Feb-95,13-Sep-19,32.0,8.0,2,1
17875,19537,STERLING FINANCIAL CORP,31-Dec-93,31-Dec-06,811671.0,COMPN,STERLING FINANCIAL CORP /PA/,9-Feb-94,8-Apr-08,17.0,3.0,3,1
17876,19538,STERLING FINANCIAL CORP/WA,30-Jun-93,31-Dec-13,811671.0,CUSIP,STERLING FINANCIAL CORP /PA/,9-Feb-94,8-Apr-08,17.0,3.0,3,1
18054,19845,LUMENIS LTD,31-Dec-09,31-Dec-14,1004945.0,COMPN,LUMENIS LTD,10-Jun-98,23-Nov-15,11.0,3.0,3,1
22299,25859,EPICOR SOFTWARE CORP -OLD,30-Jun-92,31-Dec-10,891178.0,COMPN,EPICOR SOFTWARE CORP,8-Dec-94,14-Jul-11,24.0,6.0,3,1
24198,28577,SURETY CAPITAL CORP,31-Dec-90,31-Dec-02,784932.0,COMPN,SURETY CAPITAL CORP /DE/,13-Feb-95,23-May-08,21.0,1.0,3,1
28072,61489,QWEST COMMUNICATION INTL INC,31-Dec-84,31-Dec-10,1037949.0,COMPN,QWEST COMMUNICATIONS INTERNATIONAL INC,18-Apr-97,21-Jan-14,22.0,5.0,3,1
28738,62471,LUMENIS LTD,31-Dec-94,31-Dec-02,1004945.0,FDATE,LUMENIS LTD,10-Jun-98,23-Nov-15,11.0,3.0,3,1
29008,62885,SERACARE INC,29-Feb-96,28-Feb-01,1156295.0,CUSIP,SERACARE LIFE SCIENCES INC,3-Aug-01,1-May-12,13.0,2.0,3,1
30484,64967,QWEST COMMUNICATION INTL-OLD,31-Dec-92,31-Dec-99,1037949.0,CUSIP,QWEST COMMUNICATIONS INTERNATIONAL INC,18-Apr-97,21-Jan-14,22.0,5.0,3,1
34873,117781,EPICOR SOFTWARE CORP,30-Nov-96,30-Sep-14,891178.0,FDATE,EPICOR SOFTWARE CORP,8-Dec-94,14-Jul-11,24.0,6.0,3,1
38435,145416,SERACARE LIFE SCIENCES INC,29-Feb-00,30-Sep-11,1156295.0,COMPN,SERACARE LIFE SCIENCES INC,3-Aug-01,1-May-12,13.0,2.0,3,1
43152,170307,FC GLOBAL REALTY INC,31-Dec-10,31-Dec-16,711665.0,COMPN,"GADSDEN PROPERTIES, INC.",19-Jul-96,20-Sep-19,39.0,10.0,2,1
46777,179986,SAFETY-KLEEN INC-REDH,31-Dec-06,31-Dec-11,701856.0,FDATE,SAFETY KLEEN CORP/,25-Jan-94,29-Dec-03,12.0,3.0,3,1
50749,191055,WESTWOOD ONE INC,31-Dec-10,31-Dec-12,771950.0,COMPN,"DIAL GLOBAL, INC. /DE/",11-Jan-94,12-Apr-13,29.0,7.0,2,1

In [332]:
scores = pd.read_csv('scores_gvk_20200620.csv')

In [334]:
scores = scores.drop(['Unnamed: 0','year'],axis=1)
scores.head()

,cik,y1,y2,s1,s2,s3,s4,l1,l2,window,gvkey,label,label_lag
0,2135,2001,2002,0.752746,0.752746,0.769208,0.769208,34,91,1,30697.0,1,1
1,2135,2001,2003,0.544492,0.544492,0.566316,0.566316,34,107,2,30697.0,1,1
2,2135,2001,2004,0.484842,0.484842,0.513163,0.513163,34,128,3,30697.0,1,1
3,2135,2002,2003,0.689329,0.689329,0.704758,0.704758,91,107,1,30697.0,1,1
4,2135,2002,2004,0.621834,0.621834,0.646809,0.646809,91,128,2,30697.0,1,1

In [193]:
with open("fraudsdata_20200525_2012", 'rb') as fb:
    data = pickle.load(fb)

In [194]:
data = pd.DataFrame(data, columns =['text','label','cik','year', 'file','label_lag'])
data.head()

,text,label,cik,year,file,label_lag
0,[quantitative and qualitative disclosures abou...,0,1122304,2015,edgar/data/1122304/0001122304-16-000201.txt,0
1,[item dd . managements discussion and analysis...,0,1122304,2002,edgar/data/1122304/0000950123-03-002268.txt,0
2,[item dd . managements discussion and analysis...,0,1122304,2003,edgar/data/1122304/0000950123-04-002526.txt,0
3,[quantitative and qualitative disclosures abou...,0,1122304,2014,edgar/data/1122304/0001122304-15-000038.txt,0
4,[quantitative and qualitative disclosures abou...,0,1122304,2011,edgar/data/1122304/0001122304-12-000045.txt,0

In [301]:
data["sen_num"] = data["text"].apply(lambda x: len(x))
data["word_num"] = data["text"].apply(lambda x: len(re.findall(r"\w+", ' '.join(x))))

In [311]:
data.head()
data.shape

,text,label,cik,year,file,label_lag,sen_num,word_num
0,[quantitative and qualitative disclosures abou...,0,1122304,2015,edgar/data/1122304/0001122304-16-000201.txt,0,5,79
1,[item dd . managements discussion and analysis...,0,1122304,2002,edgar/data/1122304/0000950123-03-002268.txt,0,8,98
2,[item dd . managements discussion and analysis...,0,1122304,2003,edgar/data/1122304/0000950123-04-002526.txt,0,8,104
3,[quantitative and qualitative disclosures abou...,0,1122304,2014,edgar/data/1122304/0001122304-15-000038.txt,0,5,79
4,[quantitative and qualitative disclosures abou...,0,1122304,2011,edgar/data/1122304/0001122304-12-000045.txt,0,5,78

(6273, 8)

In [335]:
temp_data = data[['cik','year', 'sen_num','word_num']]
scores = scores.merge(temp_data, \
                      how='left', left_on=['cik', 'y2'], right_on=['cik','year'])

In [336]:
scores.head()

,cik,y1,y2,s1,s2,s3,s4,l1,l2,window,gvkey,label,label_lag,year,sen_num,word_num
0,2135,2001,2002,0.752746,0.752746,0.769208,0.769208,34,91,1,30697.0,1,1,2002,113,8064
1,2135,2001,2003,0.544492,0.544492,0.566316,0.566316,34,107,2,30697.0,1,1,2003,134,10260
2,2135,2001,2004,0.484842,0.484842,0.513163,0.513163,34,128,3,30697.0,1,1,2004,152,13213
3,2135,2002,2003,0.689329,0.689329,0.704758,0.704758,91,107,1,30697.0,1,1,2003,134,10260
4,2135,2002,2004,0.621834,0.621834,0.646809,0.646809,91,128,2,30697.0,1,1,2004,152,13213

In [337]:
scores.groupby(["cik","y2"]).size().sort_values(ascending=False)

cik      y2
784932   2003    27
1066107  2005    12
1007800  2001    12
911149   1999    12
806514   2003    12
803014   1997     8
793971   1997     8
73887    2008     8
23082    2008     8
785968   2007     8
894651   1995     8
833444   1999     8
1019376  1997     4
1060822  2003     4
866535   1997     4
3116     1996     4
832813   1998     4
826154   1996     4
912894   2000     3
878522   2010     3
         2011     3
         2012     3
878556   1999     3
84112    2008     3
878522   2007     3
         2009     3
         2008     3
878556   2001     3
878522   2006     3
         2005     3
                 ..
60714    1994     1
914565   1997     1
915840   2003     1
59870    1996     1
915840   2016     1
916802   1996     1
911115   1997     1
910406   1997     1
895516   1997     1
910329   1997     1
895516   2010     1
895642   1997     1
895651   1997     1
896880   1997     1
897074   1996     1
898437   1999     1
71829    1996     1
899723   1997     1
70578    1999     1
         1998     1
899723   2003     1
70578    1994     1
899723   2004     1
900091   1998     1
901119   1997     1
904344   1997     1
907072   1996     1
70318    2004     1
908254   1997     1
2135     2002     1
Length: 4447, dtype: int64

In [338]:
scores.isnull().sum()

cik            0
y1             0
y2             0
s1             0
s2             0
s3             0
s4             0
l1             0
l2             0
window         0
gvkey        249
label          0
label_lag      0
year           0
sen_num        0
word_num       0
dtype: int64

In [197]:
# scores.to_csv('scores_gvk_20200620.csv')

In [339]:
scores_1 = scores.dropna(subset= ['gvkey'])
len(scores)
len(scores_1)

11639

11390

In [340]:
map_key = scores_1.gvkey.apply(lambda x: str(int(x))) + "_" + scores_1.y1.apply(lambda x: str(int(x)))
scores_1['map_key'] = map_key

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [341]:
scores_1.head()

,cik,y1,y2,s1,s2,s3,s4,l1,l2,window,gvkey,label,label_lag,year,sen_num,word_num,map_key
0,2135,2001,2002,0.752746,0.752746,0.769208,0.769208,34,91,1,30697.0,1,1,2002,113,8064,30697_2001
1,2135,2001,2003,0.544492,0.544492,0.566316,0.566316,34,107,2,30697.0,1,1,2003,134,10260,30697_2001
2,2135,2001,2004,0.484842,0.484842,0.513163,0.513163,34,128,3,30697.0,1,1,2004,152,13213,30697_2001
3,2135,2002,2003,0.689329,0.689329,0.704758,0.704758,91,107,1,30697.0,1,1,2003,134,10260,30697_2002
4,2135,2002,2004,0.621834,0.621834,0.646809,0.646809,91,128,2,30697.0,1,1,2004,152,13213,30697_2002

In [20]:
f1_tb = pd.read_csv('/home/jujun/temp_10k/compf_0920_fl.csv')

In [22]:
f1_tb = f1_tb.drop(['Unnamed: 0'],axis=1)

In [23]:
f1_tb.head()

,gvkey,map_key,SIC,datadate,fyear,conm,che,rect,invt,act,...,nco,fin,soft_asset,rsst_acc,ch_rec,ch_inv,cs,ch_cs,issue,ch_roa
0,100004,100004_2000,2800,14975.0,2000.0,ALTANA AG,458.549,298.131,235.884,1053.789,...,334.415,211.1869,0.460417,-0.522628,-0.102745,-0.054366,1987.9749,-0.223429,0,0.015125
1,100004,100004_2001,2800,15340.0,2001.0,ALTANA AG,324.609,358.393,243.299,992.267,...,408.872,171.9379,0.556220,0.036269,0.033727,0.004150,1993.7850,0.002923,1,0.071488
2,100004,100004_2002,2800,15705.0,2002.0,ALTANA AG,611.822,467.647,316.810,1550.167,...,435.506,163.8099,0.473912,0.066934,0.051152,0.034418,2625.9450,0.317065,1,-0.011356
3,100004,100004_2003,2800,16070.0,2003.0,ALTANA AG,730.220,621.432,401.348,2001.632,...,912.214,274.9449,0.499691,0.174433,0.055237,0.030364,3291.2260,0.253349,1,-0.003054
4,100004,100004_2004,2800,16436.0,2004.0,ALTANA AG,785.376,754.784,444.794,2171.847,...,847.868,337.8989,0.502377,0.103872,0.038973,0.012697,3964.8520,0.204673,1,-0.001623

In [215]:
f1_tb.columns

Index(['gvkey', 'map_key', 'SIC', 'datadate', 'fyear', 'conm', 'che', 'rect',
       'invt', 'act', 'lct', 'at', 'ppent', 'dltt', 'sale', 'ib', 'emp',
       'ivao', 'dlc', 'sstk', 'dltis', 'pstk', 'lt', 'ivst', 'avg_at', 'wc',
       'nco', 'fin', 'soft_asset', 'rsst_acc', 'ch_rec', 'ch_inv', 'cs',
       'ch_cs', 'issue', 'ch_roa'],
      dtype='object')

In [24]:
f1_tb_1 = f1_tb.loc[:,['gvkey','map_key','SIC','fyear','conm','rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue']]

In [251]:
#score_temp = scores_1.loc[:,['cik','y2','s1','window','map_key','label','label_lag']]

In [252]:
#score_temp = score_temp[score_temp.window == 1]

In [253]:
#score_temp.head()

    cik    y2        s1  window     map_key  label  label_lag
0  2135  2002  0.752746       1  30697_2001      1          1
1  2135  2003  0.544492       2  30697_2001      1          1
2  2135  2004  0.484842       3  30697_2001      1          1
3  2135  2003  0.689329       1  30697_2002      1          1
4  2135  2004  0.621834       2  30697_2002      1          1

In [342]:
df_merge = pd.merge(scores_1, f1_tb_1, on = 'map_key', how ='left')

In [343]:
df_merge.shape
score_temp.shape

(11390, 28)

(11308, 7)

In [344]:
df_merge

,cik,y1,y2,s1,s2,s3,s4,l1,l2,window,...,SIC,fyear,conm,rsst_acc,ch_rec,ch_inv,soft_asset,ch_cs,ch_roa,issue
0,2135,2001,2002,0.752746,0.752746,0.769208,0.769208,34,91,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2135,2001,2003,0.544492,0.544492,0.566316,0.566316,34,107,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2135,2001,2004,0.484842,0.484842,0.513163,0.513163,34,128,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2135,2002,2003,0.689329,0.689329,0.704758,0.704758,91,107,1,...,7374.0,2002.0,AFFILIATED COMPUTER SERVICES,1.104736,0.382524,0.001899,0.874060,0.938951,0.048537,1.0
4,2135,2002,2004,0.621834,0.621834,0.646809,0.646809,91,128,2,...,7374.0,2002.0,AFFILIATED COMPUTER SERVICES,1.104736,0.382524,0.001899,0.874060,0.938951,0.048537,1.0
5,2135,2002,2005,0.561204,0.561204,0.571958,0.571958,91,171,3,...,7374.0,2002.0,AFFILIATED COMPUTER SERVICES,1.104736,0.382524,0.001899,0.874060,0.938951,0.048537,1.0
6,2135,2003,2004,0.764921,0.764921,0.781340,0.781340,107,128,1,...,7374.0,2003.0,AFFILIATED COMPUTER SERVICES,0.089102,0.027880,-0.000984,0.856874,0.557009,-0.040117,1.0
7,2135,2003,2005,0.657212,0.657212,0.674718,0.674718,107,171,2,...,7374.0,2003.0,AFFILIATED COMPUTER SERVICES,0.089102,0.027880,-0.000984,0.856874,0.557009,-0.040117,1.0
8,2135,2003,2006,0.468065,0.468065,0.479704,0.479704,107,299,3,...,7374.0,2003.0,AFFILIATED COMPUTER SERVICES,0.089102,0.027880,-0.000984,0.856874,0.557009,-0.040117,1.0
9,2135,2004,2005,0.773985,0.773985,0.809491,0.809491,128,171,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2135,2004,2006,0.560265,0.560265,0.588898,0.588898,128,299,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2135,2004,2007,0.527547,0.527547,0.545079,0.545079,128,258,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2135,2005,2006,0.672824,0.672824,0.676164,0.676164,171,299,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2135,2005,2007,0.605182,0.605182,0.603121,0.603121,171,258,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2135,2005,2008,0.453748,0.448441,0.429524,0.426960,171,169,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2135,2006,2007,0.727208,0.627490,0.736542,0.636227,299,258,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2135,2006,2008,0.591995,0.334606,0.581611,0.323669,299,169,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2135,2006,2009,0.540370,0.296390,0.537835,0.297120,299,164,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2135,2007,2008,0.716937,0.469621,0.682574,0.471024,258,169,1,...,7374.0,2007.0,AFFILIATED COMPUTER SERVICES,-0.127906,0.089844,-0.001290,0.798643,0.446293,-0.034122,1.0
19,2135,2007,2009,0.630459,0.400757,0.618789,0.415397,258,164,2,...,7374.0,2007.0,AFFILIATED COMPUTER SERVICES,-0.127906,0.089844,-0.001290,0.798643,0.446293,-0.034122,1.0
20,2135,2008,2009,0.750679,0.728469,0.782251,0.768874,169,164,1,...,7374.0,2008.0,AFFILIATED COMPUTER SERVICES,0.014072,0.018469,0.000000,0.786299,0.133356,0.000560,1.0
21,2491,1995,1996,0.525677,0.525677,0.538986,0.538986,24,52,1,...,3990.0,1995.0,BALLY TECHNOLOGIES INC,-0.731767,-1.162025,-0.417953,0.305363,-0.547465,-0.154393,1.0
22,2491,1995,1997,0.382652,0.382652,0.385583,0.385583,24,53,2,...,3990.0,1995.0,BALLY TECHNOLOGIES INC,-0.731767,-1.162025,-0.417953,0.305363,-0.547465,-0.154393,1.0
23,2491,1995,1998,0.378080,0.378080,0.381367,0.381367,24,63,3,...,3990.0,1995.0,BALLY TECHNOLOGIES INC,-0.731767,-1.162025,-0.417953,0.305363,-0.547465,-0.154393,1.0
24,2491,1996,1997,0.507811,0.507811,0.528077,0.528077,52,53,1,...,3990.0,1996.0,BALLY TECHNOLOGIES INC,0.058691,0.357974,0.163164,0.664075,-0.703907,-0.153613,1.0
25,2491,1996,1998,0.447399,0.447399,0.459041,0.459041,52,63,2,...,3990.0,1996.0,BALLY TECHNOLOGIES INC,0.058691,0.357974,0.163164,0.664075,-0.703907,-0.153613,1.0
26,2491,1996,1999,0.403450,0.403450,0.418052,0.418052,52,61,3,...,3990.0,1996.0,BALLY TECHNOLOGIES INC,0.058691,0.357974,0.163164,0.664075,-0.703907,-0.153613,1.0
27,2491,1997,1998,0.725806,0.725806,0.752184,0.752184,53,63,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2491,1997,1999,0.590189,0.590189,0.636501,0.636501,53,61,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2491,1997,2000,0.528372,0.528372,0.560951,0.560951,53,58,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11360,1501919,2011,2012,0.862191,0.834601,0.870916,0.846178,125,121,1,...,7372.0,2011.0,SSI INVESTMENTS II LTD,-0.065552,0.026144,0.000000,0.973213,0.195790,0.057972,1.0
11361,1501919,2011,2013,0.838632,0.784959,0.839152,0.788101,125,117,2,...,7372.0,2011.0,SSI INVESTMENTS II LTD,-0.065552,0.026144,0.000000,0.973213,0.195790,0.057972,1.0
11362,1501919,2012,2013,0.945135,0.913891,0.942740,0.915294,121,117,1,...,7372.0,2012.0,SSI INVESTMENTS II LTD,-0.066403,0.005036,0.000000,0.962053,0.275891,0.002268,1.0
11363,1517175,2011,2012,0.807407,0.807407,0.821765,0.821765,81,84,1,...,5140.0,2011.0,CHEFS' WAREHOUSE INC,-0.824085,-0.413727,-0.373155,0.931293,-0.419528,0.035142,1.0
11364,1517175,2011,2013,0.734180,0.734180,0.750280,0.750280,81,85,2,...,5140.0,2011.0,CHEFS' WAREHOUSE INC,-0.824085,-0.413727,-0.373155,0.931293,-0.419528,0.035142,1.0
11365,1517175,2011,2014,0.662325,0.662325,0.684986,0.684986,81,82,3,...,5140.0,2011.0,CHEFS' WAREHOUSE INC,-0.824085,-0.413727,-0.373155,0.931293,-0.419528,0.035142,1.0
11366,1517175,2012,2013,0.837905,0.837905,0.843047,0.843047,84,85,1,...,5140.0,2012.0,CHEFS' WAREHOUSE INC,0.110857,0.086902,0.103952,0.954872,0.047635,0.019902,1.0
11367,1517175,2012,2014,0.758312,0.740257,0.763321,0.751928,84,82,2,...,5140.0,2012.0,CHEFS' WAREHOUSE INC,0.110857,0.086902,0.103952,0.954872,0.047635,0.019902,1.0
11368,1517175,2012,2015,0.686720,0.686720,0.685138,0.685138,84,94,3,...,5140.0,2012.0,CHEFS' WAREHOUSE INC,0.110857,0.086902,0.103952,0.954872,0.047635,0.019902,1.0
11369,1517175,2013,2014,0.904691,0.872760,0.913171,0.888668,85,82,1,...,5140.0,2013.0,CHEFS' WAREHOUSE INC,0.258056,0.069815,0.086062,0.865816,0.401634,-0.031108,1.0
11370,1517175,2013,2015,0.779538,0.779538,0.764385,0.764385,85,94,2,...,5140.0,2013.0,CHEFS' WAREHOUSE INC,0.258056,0.069815,0.086062,0.865816,0.401634,-0.031108,1.0
11371,1517175,2013,2016,0.689129,0.689129,0.681580,0.681580,85,96,3,...,5140.0,2013.0,CHEFS' WAREHOUSE INC,0.258056,0.069815,0.086062,0.865816,0.401634,-0.031108,1.0
11372,1517175,2014,2015,0.849131,0.849131,0.810597,0.810597,82,94,1,...,5140.0,2014.0,CHEFS' WAREHOUSE INC,0.085957,0.056045,0.029600,0.863724,0.248256,-0.021259,1.0
11373,1517175,2014,2016,0.726318,0.726318,0.687473,0.687473,82,96,2,...,5140.0,2014.0,CHEFS' WAREHOUSE INC,0.085957,0.056045,0.029600,0.863724,0.248256,-0.021259,1.0
11374,1517175,2015,2016,0.781287,0.781287,0.788526,0.788526,94,96,1,...,5140.0,2015.0,CHEFS' WAREHOUSE INC,0.087372,0.056614,0.035806,0.903215,0.264183,-0.005210,1.0
11375,1521332,2011,2012,0.760470,0.660289,0.787669,0.709260,167,145,1,...,3714.0,2011.0,APTIV PLC,-0.205047,0.019495,0.006531,0.596078,0.157595,0.054308,1.0
11376,1521332,2011,2013,0.657716,0.602578,0.694660,0.648349,167,153,2,...,3714.0,2011.0,APTIV PLC,-0.205047,0.019495,0.006531,0.596078,0.157595,0.054308,1.0
11377,1521332,2011,2014,0.588976,0.546654,0.626084,0.596742,167,155,3,...,3714.0,2011.0,APTIV PLC,-0.205047,0.019495,0.006531,0.596078,0.157595,0.054308,1.0
11378,1521332,2012,2013,0.833842,0.833842,0.850221,0.850221,145,153,1,...,3714.0,2012.0,APTIV PLC,0.095006,-0.005906,0.001243,0.609572,-0.016915,-0.001727,1.0
11379,1521332,2012,2014,0.717912,0.717912,0.751501,0.751501,145,155,2,...,3714.0,2012.0,APTIV PLC,0.095006,-0.005906,0.001243,0.609572,-0.016915,-0.001727,1.0
11380,1521332,2012,2015,0.674327,0.674327,0.710729,0.710729,145,179,3,...,3714.0,2012.0,APTIV PLC,0.095006,-0.005906,0.001243,0.609572,-0.016915,-0.001727,1.0
11381,1521332,2013,2014,0.795102,0.795102,0.831809,0.831809,153,155,1,...,3714.0,2013.0,APTIV PLC,0.030156,0.023842,0.002544,0.582783,0.040704,0.002633,1.0
11382,1521332,2013,2015,0.714396,0.714396,0.754000,0.754000,153,179,2,...,3714.0,2013.0,APTIV PLC,0.030156,0.023842,0.002544,0.582783,0.040704,0.002633,1.0
11383,1521332,2013,2016,0.684087,0.684087,0.720053,0.720053,153,194,3,...,3714.0,2013.0,APTIV PLC,0.030156,0.023842,0.002544,0.582783,0.040704,0.002633,1.0
11384,1521332,2014,2015,0.829380,0.829380,0.856409,0.856409,155,179,1,...,3714.0,2014.0,APTIV PLC,0.005873,-0.005231,0.001009,0.604690,0.053671,0.009769,1.0
11385,1521332,2014,2016,0.770836,0.770836,0.800078,0.800078,155,194,2,...,3714.0,2014.0,APTIV PLC,0.005873,-0.005231,0.001009,0.604690,0.053671,0.009769,1.0
11386,1521332,2015,2016,0.842309,0.842309,0.855324,0.855324,179,194,1,...,3714.0,2015.0,APTIV PLC,0.007835,0.011708,0.006778,0.673181,-0.119906,-0.019403,1.0
11387,1603923,2014,2015,0.730682,0.721984,0.757551,0.748465,168,166,1,...,1381.0,2014.0,WEATHERFORD INTL PLC,-0.059169,-0.028337,-0.007635,0.597808,-0.004115,-0.013170,1.0
11388,1603923,2014,2016,0.654584,0.654584,0.682265,0.682265,168,185,2,...,1381.0,2014.0,WEATHERFORD INTL PLC,-0.059169,-0.028337,-0.007635,0.597808,-0.004115,-0.013170,1.0
11389,1603923,2015,2016,0.816930,0.816930,0.834528,0.834528,166,185,1,...,1381.0,2015.0,WEATHERFORD INTL PLC,-0.158035,-0.073287,-0.051372,0.584365,-0.311362,-0.089307,1.0

In [213]:
#check funda raw data
funda = pd.read_csv('/home/jujun/temp_10k/fscore_data/combine_funda.csv')

In [258]:
funda[funda.gvkey == 2135]

,Unnamed: 0,map_key,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,...,adjex_f,rank,au,auop,auopic,LINKPRIM,LINKTYPE,LPERMCO,LPERMNO,SIC
93689,93689,2135_1995,2135,13148.0,1995.0,INDL,C,D,SUMM_STD,PQE1,...,1.0,1.0,6.0,1.0,NaN,P,LU,23135.0,22322.0,3579
93690,93690,2135_1996,2135,13514.0,1996.0,INDL,C,D,SUMM_STD,PQE1,...,NaN,1.0,6.0,1.0,NaN,P,LU,23135.0,22322.0,3579

### prepare for reg

In [352]:
from scipy.stats import mstats

In [411]:
import math

In [345]:
df_merge_1 = df_merge.dropna()

In [377]:
df_merge_2 = df_merge_1[df_merge_1.sen_num >= 8]

In [378]:
df_merge_2.columns

Index(['cik', 'y1', 'y2', 's1', 's2', 's3', 's4', 'l1', 'l2', 'window',
       'gvkey_x', 'label', 'label_lag', 'year', 'sen_num', 'word_num',
       'map_key', 'gvkey_y', 'SIC', 'fyear', 'conm', 'rsst_acc', 'ch_rec',
       'ch_inv', 'soft_asset', 'ch_cs', 'ch_roa', 'issue'],
      dtype='object')

In [379]:
df_merge_2.isnull().sum()

cik           0
y1            0
y2            0
s1            0
s2            0
s3            0
s4            0
l1            0
l2            0
window        0
gvkey_x       0
label         0
label_lag     0
year          0
sen_num       0
word_num      0
map_key       0
gvkey_y       0
SIC           0
fyear         0
conm          0
rsst_acc      0
ch_rec        0
ch_inv        0
soft_asset    0
ch_cs         0
ch_roa        0
issue         0
dtype: int64

In [391]:
df_merge_test = df_merge_2.copy()

In [392]:
df_merge_test[['rsst_acc','ch_rec','ch_inv',
                 'soft_asset','ch_cs','ch_roa']].describe()

,rsst_acc,ch_rec,ch_inv,soft_asset,ch_cs,ch_roa
count,7289.000000,7289.000000,7289.000000,7289.000000,7289.000000,7289.000000
mean,0.481040,-0.010456,-0.008500,0.610668,358.678940,-0.014445
std,28.218354,0.223454,0.176530,0.224385,17428.944105,1.862529
min,-68.915313,-4.070211,-3.807424,-1.000000,-8.872340,-55.813320
25%,-0.071820,-0.017446,-0.006219,0.463947,-0.087012,-0.051669
50%,0.021120,0.005487,0.000000,0.648157,0.050655,0.000318
75%,0.105713,0.038288,0.018371,0.781944,0.217500,0.041519
max,1387.843137,1.129488,0.865672,0.999947,859190.000000,34.685335

In [393]:
def apply_winsorize(s):
    return mstats.winsorize(s, limits=[0.05, 0.05])

In [394]:
df_merge_test[['rsst_acc','ch_rec','ch_inv',
                 'soft_asset','ch_cs','ch_roa']] = df_merge_test[['rsst_acc',
                                                                    'ch_rec','ch_inv','soft_asset','ch_cs','ch_roa']].apply(apply_winsorize)

In [395]:
df_merge_test[['rsst_acc','ch_rec','ch_inv',
                 'soft_asset','ch_cs','ch_roa']].describe()

,rsst_acc,ch_rec,ch_inv,soft_asset,ch_cs,ch_roa
count,7289.000000,7289.000000,7289.000000,7289.000000,7289.000000,7289.000000
mean,0.013188,0.006429,0.002931,0.613033,0.087177,-0.005217
std,0.223491,0.067405,0.051790,0.212675,0.339133,0.145947
min,-0.519777,-0.162983,-0.136060,0.191035,-0.528720,-0.360910
25%,-0.071820,-0.017446,-0.006219,0.463947,-0.087012,-0.051669
50%,0.021120,0.005487,0.000000,0.648157,0.050655,0.000318
75%,0.105713,0.038288,0.018371,0.781944,0.217500,0.041519
max,0.501410,0.144468,0.114932,0.916360,0.960563,0.320476

In [396]:
df_merge_test[['sen_num','word_num']].describe()

           sen_num      word_num
count  7289.000000   7289.000000
mean    163.669914  10138.210043
std     159.860502   7526.606426
min      11.000000    632.000000
25%      71.000000   5125.000000
50%     127.000000   8644.000000
75%     203.000000  13024.000000
max    1631.000000  67639.000000

In [397]:
df_merge_test[['sen_num','word_num']] = np.log(df_merge_test[['sen_num','word_num']])

In [398]:
df_merge_test[['rsst_acc','ch_rec','ch_inv',
                 'soft_asset','ch_cs','ch_roa','sen_num','word_num']].describe()

,rsst_acc,ch_rec,ch_inv,soft_asset,ch_cs,ch_roa,sen_num,word_num
count,7289.000000,7289.000000,7289.000000,7289.000000,7289.000000,7289.000000,7289.000000,7289.000000
mean,0.013188,0.006429,0.002931,0.613033,0.087177,-0.005217,4.800609,8.992074
std,0.223491,0.067405,0.051790,0.212675,0.339133,0.145947,0.760063,0.702122
min,-0.519777,-0.162983,-0.136060,0.191035,-0.528720,-0.360910,2.397895,6.448889
25%,-0.071820,-0.017446,-0.006219,0.463947,-0.087012,-0.051669,4.262680,8.541886
50%,0.021120,0.005487,0.000000,0.648157,0.050655,0.000318,4.844187,9.064621
75%,0.105713,0.038288,0.018371,0.781944,0.217500,0.041519,5.313206,9.474549
max,0.501410,0.144468,0.114932,0.916360,0.960563,0.320476,7.396949,11.121940

In [431]:
def reg_logit_winsorize(win = None, s = None):
    if s == None:
        columns = ['rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue','sen_num', 'word_num']
    else:
        columns = ['rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue','sen_num', 'word_num'] + [s]
    if win == None:
        df_merge_temp = df_merge_2
    else:
        df_merge_temp = df_merge_1[df_merge_1.window == win]
    df_merge_target = df_merge_temp.loc[:,columns +['label']]
    print('before scale')
    print(df_merge_target.describe())
    
    
#     fig = plt.figure(figsize = (15,20))
#     ax = fig.gca()
#     df_merge_target.hist(ax = ax)

    df_merge_target[['rsst_acc','ch_rec','ch_inv',
                     'soft_asset','ch_cs','ch_roa']] = df_merge_target[['rsst_acc',
                                                                        'ch_rec','ch_inv','soft_asset','ch_cs','ch_roa']].apply(apply_winsorize)
    df_merge_target[['sen_num','word_num']] = np.log(df_merge_target[['sen_num','word_num']])
#     df_merge_target['sen_num'] = df_merge_target['sen_num'].apply(lambda x: math.log(x))
#     df_merge_target['word_num'] = df_merge_target['word_num'].apply(lambda x: math.log(x))
#    df_merge_target = df_merge_target.apply(lambda x: math.log(x['sen_num'], x['word_num']), axis=1)
    
    print('\t')
    print('after scale')
    print(df_merge_target.describe())
    print('\t')
    print(df_merge_target.label.value_counts())
    
    
    X = df_merge_target.loc[:,columns]
    X = sm.add_constant(X)
    y = df_merge_target.label
    results_orgi = sm.Logit(y, X).fit()
    print(results_orgi.summary())

In [432]:
reg_logit_winsorize(win = 1, s = None)

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset          ch_cs  \
count  2723.000000  2723.000000  2723.000000  2723.000000    2723.000000
mean      0.413662    -0.009860    -0.008159     0.611390     319.991963
std      26.665824     0.222343     0.178536     0.226866   16465.695762
min     -68.915313    -4.070211    -3.807424    -1.000000      -8.872340
25%      -0.072396    -0.017437    -0.006005     0.467162      -0.089469
50%       0.019347     0.005014     0.000000     0.651114       0.047772
75%       0.103962     0.038168     0.018136     0.784480       0.212412
max    1387.843137     1.129488     0.865672     0.999947  859190.000000

            ch_roa        issue      sen_num      word_num        label
count  2723.000000  2723.000000  2723.000000   2723.000000  2723.000000
mean     -0.012418     0.930224   157.762394   9794.493573     0.163790
std       1.853706     0.254816   157.996504   7432.150151     0.370153
min     -55.813320     0.000000    13.000000    632.000000     0.000000
25%      -0.051506     1.000000    65.000000   4699.500000     0.000000
50%       0.000354     1.000000   121.000000   8270.000000     0.000000
75%       0.042616     1.000000   198.000000  12642.500000     0.000000
max      34.685335     1.000000  1631.000000  67639.000000     1.000000

after scale
          rsst_acc       ch_rec       ch_inv   soft_asset        ch_cs  \
count  2723.000000  2723.000000  2723.000000  2723.000000  2723.000000
mean      0.012431     0.006441     0.003375     0.613576     0.086120
std       0.222851     0.067504     0.050348     0.215716     0.338502
min      -0.519777    -0.162765    -0.128309     0.181488    -0.513199
25%      -0.072396    -0.017437    -0.006005     0.467162    -0.089469
50%       0.019347     0.005014     0.000000     0.651114     0.047772
75%       0.103962     0.038168     0.018136     0.784480     0.212412
max       0.501410     0.145667     0.114921     0.918499     0.963563

            ch_roa        issue      sen_num     word_num        label
count  2723.000000  2723.000000  2723.000000  2723.000000  2723.000000
mean     -0.005485     0.930224     4.747120     8.945160     0.163790
std       0.148462     0.254816     0.780928     0.721324     0.370153
min      -0.375502     0.000000     2.564949     6.448889     0.000000
25%      -0.051506     1.000000     4.174387     8.455211     0.000000
50%       0.000354     1.000000     4.795791     9.020390     0.000000
75%       0.042616     1.000000     5.288267     9.444819     0.000000
max       0.323930     1.000000     7.396949    11.121940     1.000000

0    2277
1     446
Name: label, dtype: int64
Optimization terminated successfully.
         Current function value: 0.419730
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                  label   No. Observations:                 2723
Model:                          Logit   Df Residuals:                     2713
Method:                           MLE   Df Model:                            9
Date:                Sun, 21 Jun 2020   Pseudo R-squ.:                 0.05869
Time:                        15:49:36   Log-Likelihood:                -1142.9
converged:                       True   LL-Null:                       -1214.2
                                        LLR p-value:                 3.097e-26
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.7852      1.213     -3.944      0.000      -7.163      -2.407
rsst_acc       0.9059      0.282      3.209      0.001       0.353       1.459
ch_rec         3.8122      0.991      3.846      0.000       1.870       5.755
ch_inv         0.2593      1.237      0.210      0.834      -2.166       2.685
soft_asset    -0.1476      0.250     -0.589      0.556      -0.638       0.343
ch_cs          0.4562      0.163      2.792      0.005       0.136       0.777
ch_roa        -0.3459      0.369     -0.936      0.349      -1.070       0.378
issue          1.0563      0.321      3.296      0.001       0.428       1.685
sen_num       -1.0553      0.226     -4.660      0.000      -1.499      -0.611
word_num       0.7890      0.240      3.286      0.001       0.318       1.260
==============================================================================

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [425]:
reg_logit_winsorize(win = 1, s = 's1')

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset          ch_cs  \
count  2723.000000  2723.000000  2723.000000  2723.000000    2723.000000
mean      0.413662    -0.009860    -0.008159     0.611390     319.991963
std      26.665824     0.222343     0.178536     0.226866   16465.695762
min     -68.915313    -4.070211    -3.807424    -1.000000      -8.872340
25%      -0.072396    -0.017437    -0.006005     0.467162      -0.089469
50%       0.019347     0.005014     0.000000     0.651114       0.047772
75%       0.103962     0.038168     0.018136     0.784480       0.212412
max    1387.843137     1.129488     0.865672     0.999947  859190.000000

            ch_roa        issue      sen_num      word_num           s1  \
count  2723.000000  2723.000000  2723.000000   2723.000000  2723.000000
mean     -0.012418     0.930224   157.762394   9794.493573     0.714824
std       1.853706     0.254816   157.996504   7432.150151     0.111604
min     -55.813320     0.000000    13.000000    632.000000     0.166167
25%      -0.051506     1.000000    65.000000   4699.500000     0.655405
50%       0.000354     1.000000   121.000000   8270.000000     0.729226
75%       0.042616     1.000000   198.000000  12642.500000     0.791452
max      34.685335     1.000000  1631.000000  67639.000000     0.979765

             label
count  2723.000000
mean      0.163790
std       0.370153
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

after scale
          rsst_acc       ch_rec       ch_inv   soft_asset        ch_cs  \
count  2723.000000  2723.000000  2723.000000  2723.000000  2723.000000
mean      0.012431     0.006441     0.003375     0.613576     0.086120
std       0.222851     0.067504     0.050348     0.215716     0.338502
min      -0.519777    -0.162765    -0.128309     0.181488    -0.513199
25%      -0.072396    -0.017437    -0.006005     0.467162    -0.089469
50%       0.019347     0.005014     0.000000     0.651114     0.047772
75%       0.103962     0.038168     0.018136     0.784480     0.212412
max       0.501410     0.145667     0.114921     0.918499     0.963563

            ch_roa        issue      sen_num      word_num           s1  \
count  2723.000000  2723.000000  2723.000000   2723.000000  2723.000000
mean     -0.005485     0.930224   157.762394   9794.493573     0.714824
std       0.148462     0.254816   157.996504   7432.150151     0.111604
min      -0.375502     0.000000    13.000000    632.000000     0.166167
25%      -0.051506     1.000000    65.000000   4699.500000     0.655405
50%       0.000354     1.000000   121.000000   8270.000000     0.729226
75%       0.042616     1.000000   198.000000  12642.500000     0.791452
max       0.323930     1.000000  1631.000000  67639.000000     0.979765

             label
count  2723.000000
mean      0.163790
std       0.370153
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

0    2277
1     446
Name: label, dtype: int64
Optimization terminated successfully.
         Current function value: 0.416577
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                  label   No. Observations:                 2723
Model:                          Logit   Df Residuals:                     2712
Method:                           MLE   Df Model:                           10
Date:                Sun, 21 Jun 2020   Pseudo R-squ.:                 0.06576
Time:                        15:40:40   Log-Likelihood:                -1134.3
converged:                       True   LL-Null:                       -1214.2
                                        LLR p-value:                 3.740e-29
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.5493      0.476     -3.253      0.001      -2.483      -0.616
rsst_acc       0.8436      0.280      3.008      0.003       0.294       1.393
ch_rec         3.8300      0.985      3.889      0.000       1.900       5.760
ch_inv         0.3672      1.224      0.300      0.764      -2.032       2.767
soft_asset    -0.1603      0.250     -0.640      0.522      -0.651       0.330
ch_cs          0.4244      0.162      2.612      0.009       0.106       0.743
ch_roa        -0.3351      0.366     -0.917      0.359      -1.052       0.381
issue          1.0877      0.320      3.400      0.001       0.461       1.715
sen_num       -0.0053      0.001     -3.909      0.000      -0.008      -0.003
word_num    3.883e-05   2.17e-05      1.787      0.074   -3.76e-06    8.14e-05
s1            -1.1150      0.461     -2.420      0.016      -2.018      -0.212
==============================================================================

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [433]:
reg_logit_winsorize(win = 1, s = 's3')

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset          ch_cs  \
count  2723.000000  2723.000000  2723.000000  2723.000000    2723.000000
mean      0.413662    -0.009860    -0.008159     0.611390     319.991963
std      26.665824     0.222343     0.178536     0.226866   16465.695762
min     -68.915313    -4.070211    -3.807424    -1.000000      -8.872340
25%      -0.072396    -0.017437    -0.006005     0.467162      -0.089469
50%       0.019347     0.005014     0.000000     0.651114       0.047772
75%       0.103962     0.038168     0.018136     0.784480       0.212412
max    1387.843137     1.129488     0.865672     0.999947  859190.000000

            ch_roa        issue      sen_num      word_num           s3  \
count  2723.000000  2723.000000  2723.000000   2723.000000  2723.000000
mean     -0.012418     0.930224   157.762394   9794.493573     0.725237
std       1.853706     0.254816   157.996504   7432.150151     0.112008
min     -55.813320     0.000000    13.000000    632.000000     0.154513
25%      -0.051506     1.000000    65.000000   4699.500000     0.666532
50%       0.000354     1.000000   121.000000   8270.000000     0.739083
75%       0.042616     1.000000   198.000000  12642.500000     0.803111
max      34.685335     1.000000  1631.000000  67639.000000     0.987374

             label
count  2723.000000
mean      0.163790
std       0.370153
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

after scale
          rsst_acc       ch_rec       ch_inv   soft_asset        ch_cs  \
count  2723.000000  2723.000000  2723.000000  2723.000000  2723.000000
mean      0.012431     0.006441     0.003375     0.613576     0.086120
std       0.222851     0.067504     0.050348     0.215716     0.338502
min      -0.519777    -0.162765    -0.128309     0.181488    -0.513199
25%      -0.072396    -0.017437    -0.006005     0.467162    -0.089469
50%       0.019347     0.005014     0.000000     0.651114     0.047772
75%       0.103962     0.038168     0.018136     0.784480     0.212412
max       0.501410     0.145667     0.114921     0.918499     0.963563

            ch_roa        issue      sen_num     word_num           s3  \
count  2723.000000  2723.000000  2723.000000  2723.000000  2723.000000
mean     -0.005485     0.930224     4.747120     8.945160     0.725237
std       0.148462     0.254816     0.780928     0.721324     0.112008
min      -0.375502     0.000000     2.564949     6.448889     0.154513
25%      -0.051506     1.000000     4.174387     8.455211     0.666532
50%       0.000354     1.000000     4.795791     9.020390     0.739083
75%       0.042616     1.000000     5.288267     9.444819     0.803111
max       0.323930     1.000000     7.396949    11.121940     0.987374

             label
count  2723.000000
mean      0.163790
std       0.370153
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

0    2277
1     446
Name: label, dtype: int64

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

Optimization terminated successfully.
         Current function value: 0.418534
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                  label   No. Observations:                 2723
Model:                          Logit   Df Residuals:                     2712
Method:                           MLE   Df Model:                           10
Date:                Sun, 21 Jun 2020   Pseudo R-squ.:                 0.06138
Time:                        15:53:38   Log-Likelihood:                -1139.7
converged:                       True   LL-Null:                       -1214.2
                                        LLR p-value:                 5.861e-27
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.1119      1.236     -3.326      0.001      -6.535      -1.689
rsst_acc       0.8703      0.282      3.088      0.002       0.318       1.423
ch_rec         3.8348      0.992      3.866      0.000       1.891       5.779
ch_inv         0.2734      1.238      0.221      0.825      -2.152       2.699
soft_asset    -0.1620      0.251     -0.645      0.519      -0.654       0.330
ch_cs          0.4531      0.163      2.782      0.005       0.134       0.772
ch_roa        -0.3231      0.368     -0.878      0.380      -1.044       0.398
issue          1.0303      0.321      3.211      0.001       0.401       1.659
sen_num       -1.0335      0.226     -4.572      0.000      -1.477      -0.590
word_num       0.8018      0.240      3.343      0.001       0.332       1.272
s3            -1.1869      0.462     -2.569      0.010      -2.093      -0.281
==============================================================================

In [278]:
def reg(win = None, s = None,):
    columns = ['rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue'] + [s]
    if win == None:
        df_merge_temp = df_merge_1
    else:
        df_merge_temp = df_merge_1[df_merge_1.window == win]
    df_merge_target = df_merge_temp.loc[:,columns +['label']]
    print('before scale')
    print(df_merge_target.describe())
    
    scaler = MinMaxScaler()
    df_merge_target[['rsst_acc','ch_rec','ch_inv',
                     'soft_asset','ch_cs','ch_roa']] = scaler.fit_transform(df_merge_target[['rsst_acc',
                                                                                    'ch_rec','ch_inv','soft_asset','ch_cs','ch_roa']])
    print('\t')
    print('before scale')
    print(df_merge_target.describe())
    print('\t')
    print(df_merge_target.label.value_counts())
    
    
    X = df_merge_target.loc[:,columns]
    X = sm.add_constant(X)
    y = df_merge_target.label
    results_orgi = sm.OLS(y, X).fit()
    print(results_orgi.summary())

In [279]:
reg(win = 1, s = 's1')

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset          ch_cs  \
count  2709.000000  2709.000000  2709.000000  2709.000000    2709.000000
mean      0.418393    -0.008833    -0.007149     0.611738     321.646640
std      26.734416     0.218749     0.174370     0.226786   16508.187486
min     -68.915313    -4.070211    -3.807424    -1.000000      -8.872340
25%      -0.072384    -0.017427    -0.005974     0.467554      -0.087600
50%       0.019275     0.005036     0.000000     0.650530       0.048225
75%       0.103942     0.038018     0.018097     0.785279       0.213294
max    1387.843137     1.129488     0.865672     0.999947  859190.000000

            ch_roa        issue           s1       label
count  2709.000000  2709.000000  2709.000000  2709.00000
mean     -0.012358     0.930602     0.714926     0.16316
std       1.858482     0.254177     0.111847     0.36958
min     -55.813320     0.000000     0.166167     0.00000
25%      -0.051506     1.000000     0.655505     0.00000
50%       0.000318     1.000000     0.729345     0.00000
75%       0.042594     1.000000     0.791939     0.00000
max      34.685335     1.000000     0.979765     1.00000

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset        ch_cs  \
count  2709.000000  2709.000000  2709.000000  2709.000000  2709.000000
mean      0.047595     0.781079     0.813224     0.805891     0.000385
std       0.018352     0.042070     0.037314     0.113396     0.019213
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.047258     0.779427     0.813476     0.733796     0.000010
50%       0.047321     0.783747     0.814754     0.825287     0.000010
75%       0.047379     0.790090     0.818627     0.892663     0.000011
max       1.000000     1.000000     1.000000     1.000000     1.000000

            ch_roa        issue           s1       label
count  2709.000000  2709.000000  2709.000000  2709.00000
mean      0.616594     0.930602     0.714926     0.16316
std       0.020536     0.254177     0.111847     0.36958
min       0.000000     0.000000     0.166167     0.00000
25%       0.616162     1.000000     0.655505     0.00000
50%       0.616734     1.000000     0.729345     0.00000
75%       0.617202     1.000000     0.791939     0.00000
max       1.000000     1.000000     0.979765     1.00000

0    2267
1     442
Name: label, dtype: int64
                            OLS Regression Results
==============================================================================
Dep. Variable:                  label   R-squared:                       0.017
Model:                            OLS   Adj. R-squared:                  0.014
Method:                 Least Squares   F-statistic:                     5.877
Date:                Sat, 20 Jun 2020   Prob (F-statistic):           1.78e-07
Time:                        17:45:38   Log-Likelihood:                -1123.5
No. Observations:                2709   AIC:                             2265.
Df Residuals:                    2700   BIC:                             2318.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.3950      0.272     -1.451      0.147      -0.929       0.139
rsst_acc      -0.3060      0.387     -0.791      0.429      -1.064       0.452
ch_rec         0.5906      0.207      2.860      0.004       0.186       0.996
ch_inv         0.1725      0.232      0.744      0.457      -0.282       0.627
soft_asset     0.0034      0.063      0.054      0.957      -0.119       0.126
ch_cs         -0.2257      0.375     -0.601      0.548      -0.962       0.511
ch_roa         0.0826      0.352      0.235      0.814      -0.607       0.772
issue          0.1020      0.028      3.667      0.000       0.047       0.157
s1            -0.2482      0.063     -3.909      0.000      -0.373      -0.124
==============================================================================
Omnibus:                      773.206   Durbin-Watson:                   1.072
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1598.340
Skew:                           1.774   Prob(JB):                         0.00
Kurtosis:                       4.252   Cond. No.                         136.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [280]:
reg(win = 2, s = 's1')

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset          ch_cs  \
count  2405.000000  2405.000000  2405.000000  2405.000000    2405.000000
mean      0.488062    -0.011564    -0.009627     0.611075     361.878286
std      28.364080     0.226609     0.181846     0.223662   17520.481156
min     -68.915313    -4.070211    -3.807424    -1.000000      -8.872340
25%      -0.072609    -0.017871    -0.006733     0.465863      -0.088172
50%       0.020327     0.005350     0.000000     0.648819       0.050831
75%       0.104321     0.037946     0.017864     0.781428       0.213992
max    1387.843137     0.732089     0.817236     0.999947  859190.000000

            ch_roa        issue           s1        label
count  2405.000000  2405.000000  2405.000000  2405.000000
mean     -0.019219     0.933472     0.578338     0.155925
std       1.828933     0.249255     0.123701     0.362860
min     -55.813320     0.000000     0.155790     0.000000
25%      -0.052351     1.000000     0.500669     0.000000
50%       0.000026     1.000000     0.583577     0.000000
75%       0.041218     1.000000     0.664660     0.000000
max      34.685335     1.000000     0.950735     1.000000

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset        ch_cs  \
count  2405.000000  2405.000000  2405.000000  2405.000000  2405.000000
mean      0.047642     0.845147     0.821206     0.805559     0.000432
std       0.019471     0.047188     0.039321     0.111834     0.020392
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.047257     0.843833     0.821831     0.732951     0.000010
50%       0.047321     0.848669     0.823287     0.824432     0.000010
75%       0.047379     0.855456     0.827150     0.890738     0.000011
max       1.000000     1.000000     1.000000     1.000000     1.000000

            ch_roa        issue           s1        label
count  2405.000000  2405.000000  2405.000000  2405.000000
mean      0.616519     0.933472     0.578338     0.155925
std       0.020210     0.249255     0.123701     0.362860
min       0.000000     0.000000     0.155790     0.000000
25%       0.616152     1.000000     0.500669     0.000000
50%       0.616731     1.000000     0.583577     0.000000
75%       0.617186     1.000000     0.664660     0.000000
max       1.000000     1.000000     0.950735     1.000000

0    2030
1     375
Name: label, dtype: int64
                            OLS Regression Results
==============================================================================
Dep. Variable:                  label   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.010
Method:                 Least Squares   F-statistic:                     4.156
Date:                Sat, 20 Jun 2020   Prob (F-statistic):           6.00e-05
Time:                        17:45:46   Log-Likelihood:                -957.43
No. Observations:                2405   AIC:                             1933.
Df Residuals:                    2396   BIC:                             1985.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.1283      0.285     -0.450      0.652      -0.687       0.430
rsst_acc      -0.3044      0.380     -0.802      0.423      -1.049       0.440
ch_rec         0.1137      0.192      0.592      0.554      -0.263       0.490
ch_inv         0.0684      0.229      0.298      0.766      -0.381       0.518
soft_asset    -0.0144      0.066     -0.218      0.827      -0.144       0.115
ch_cs         -0.2405      0.371     -0.649      0.516      -0.967       0.486
ch_roa         0.3237      0.374      0.865      0.387      -0.410       1.058
issue          0.1090      0.030      3.679      0.000       0.051       0.167
s1            -0.2475      0.060     -4.128      0.000      -0.365      -0.130
==============================================================================
Omnibus:                      739.498   Durbin-Watson:                   0.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1612.764
Skew:                           1.854   Prob(JB):                         0.00
Kurtosis:                       4.532   Cond. No.                         137.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [281]:
reg(win = 3, s = 's1')

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset          ch_cs  \
count  2143.000000  2143.000000  2143.000000  2143.000000    2143.000000
mean      0.562850    -0.009379    -0.007609     0.610165     407.258957
std      30.045352     0.220866     0.168392     0.222337   18560.658393
min     -68.915313    -4.070211    -3.538343    -1.000000      -8.872340
25%      -0.070162    -0.017056    -0.006196     0.462781      -0.081962
50%       0.023638     0.006306     0.000000     0.643678       0.054795
75%       0.110587     0.039231     0.019443     0.780021       0.227517
max    1387.843137     0.732089     0.651163     0.999947  859190.000000

            ch_roa        issue           s1        label
count  2143.000000  2143.000000  2143.000000  2143.000000
mean     -0.011187     0.935138     0.507400     0.144657
std       1.918873     0.246340     0.122197     0.351837
min     -55.813320     0.000000     0.155743     0.000000
25%      -0.051506     1.000000     0.423346     0.000000
50%       0.000681     1.000000     0.508832     0.000000
75%       0.041142     1.000000     0.591486     0.000000
max      34.685335     1.000000     0.914011     1.000000

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset        ch_cs  \
count  2143.000000  2143.000000  2143.000000  2143.000000  2143.000000
mean      0.047694     0.845602     0.842757     0.805104     0.000484
std       0.020625     0.045992     0.040194     0.111172     0.021602
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.047259     0.844003     0.843094     0.731410     0.000010
50%       0.047324     0.848868     0.844573     0.821861     0.000010
75%       0.047383     0.855724     0.849214     0.890034     0.000011
max       1.000000     1.000000     1.000000     1.000000     1.000000

            ch_roa        issue           s1        label
count  2143.000000  2143.000000  2143.000000  2143.000000
mean      0.616607     0.935138     0.507400     0.144657
std       0.021203     0.246340     0.122197     0.351837
min       0.000000     0.000000     0.155743     0.000000
25%       0.616162     1.000000     0.423346     0.000000
50%       0.616738     1.000000     0.508832     0.000000
75%       0.617186     1.000000     0.591486     0.000000
max       1.000000     1.000000     0.914011     1.000000

0    1833
1     310
Name: label, dtype: int64
                            OLS Regression Results
==============================================================================
Dep. Variable:                  label   R-squared:                       0.013
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     3.458
Date:                Sat, 20 Jun 2020   Prob (F-statistic):           0.000573
Time:                        17:46:01   Log-Likelihood:                -787.93
No. Observations:                2143   AIC:                             1594.
Df Residuals:                    2134   BIC:                             1645.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2143      0.288      0.745      0.456      -0.350       0.778
rsst_acc      -0.2430      0.368     -0.660      0.510      -0.965       0.479
ch_rec         0.1013      0.194      0.523      0.601      -0.279       0.481
ch_inv        -0.0981      0.221     -0.444      0.657      -0.532       0.336
soft_asset    -0.0641      0.069     -0.935      0.350      -0.198       0.070
ch_cs         -0.1538      0.360     -0.427      0.669      -0.860       0.552
ch_roa        -0.0134      0.367     -0.036      0.971      -0.734       0.707
issue          0.1143      0.031      3.704      0.000       0.054       0.175
s1            -0.2127      0.062     -3.417      0.001      -0.335      -0.091
==============================================================================
Omnibus:                      732.142   Durbin-Watson:                   1.038
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1750.434
Skew:                           1.976   Prob(JB):                         0.00
Kurtosis:                       4.996   Cond. No.                         131.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [282]:
s

In [283]:
reg_logit(win = 1, s = 's1')

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset          ch_cs  \
count  2709.000000  2709.000000  2709.000000  2709.000000    2709.000000
mean      0.418393    -0.008833    -0.007149     0.611738     321.646640
std      26.734416     0.218749     0.174370     0.226786   16508.187486
min     -68.915313    -4.070211    -3.807424    -1.000000      -8.872340
25%      -0.072384    -0.017427    -0.005974     0.467554      -0.087600
50%       0.019275     0.005036     0.000000     0.650530       0.048225
75%       0.103942     0.038018     0.018097     0.785279       0.213294
max    1387.843137     1.129488     0.865672     0.999947  859190.000000

            ch_roa        issue           s1       label
count  2709.000000  2709.000000  2709.000000  2709.00000
mean     -0.012358     0.930602     0.714926     0.16316
std       1.858482     0.254177     0.111847     0.36958
min     -55.813320     0.000000     0.166167     0.00000
25%      -0.051506     1.000000     0.655505     0.00000
50%       0.000318     1.000000     0.729345     0.00000
75%       0.042594     1.000000     0.791939     0.00000
max      34.685335     1.000000     0.979765     1.00000

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset        ch_cs  \
count  2709.000000  2709.000000  2709.000000  2709.000000  2709.000000
mean      0.047595     0.781079     0.813224     0.805891     0.000385
std       0.018352     0.042070     0.037314     0.113396     0.019213
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.047258     0.779427     0.813476     0.733796     0.000010
50%       0.047321     0.783747     0.814754     0.825287     0.000010
75%       0.047379     0.790090     0.818627     0.892663     0.000011
max       1.000000     1.000000     1.000000     1.000000     1.000000

            ch_roa        issue           s1       label
count  2709.000000  2709.000000  2709.000000  2709.00000
mean      0.616594     0.930602     0.714926     0.16316
std       0.020536     0.254177     0.111847     0.36958
min       0.000000     0.000000     0.166167     0.00000
25%       0.616162     1.000000     0.655505     0.00000
50%       0.616734     1.000000     0.729345     0.00000
75%       0.617202     1.000000     0.791939     0.00000
max       1.000000     1.000000     0.979765     1.00000

0    2267
1     442
Name: label, dtype: int64
Optimization terminated successfully.
         Current function value: 0.433263
         Iterations 17
                           Logit Regression Results
==============================================================================
Dep. Variable:                  label   No. Observations:                 2709
Model:                          Logit   Df Residuals:                     2700
Method:                           MLE   Df Model:                            8
Date:                Sat, 20 Jun 2020   Pseudo R-squ.:                 0.02610
Time:                        20:20:40   Log-Likelihood:                -1173.7
converged:                       True   LL-Null:                       -1205.2
                                        LLR p-value:                 1.254e-10
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -12.3552      3.084     -4.007      0.000     -18.399      -6.311
rsst_acc      -3.3446      7.536     -0.444      0.657     -18.114      11.425
ch_rec         9.9969      2.742      3.646      0.000       4.623      15.371
ch_inv         3.7828      2.920      1.295      0.195      -1.941       9.506
soft_asset    -0.2197      0.478     -0.459      0.646      -1.157       0.718
ch_cs       -167.7273    420.819     -0.399      0.690    -992.517     657.062
ch_roa         0.3704      2.716      0.136      0.892      -4.954       5.694
issue          1.1102      0.317      3.503      0.000       0.489       1.731
s1            -1.6394      0.455     -3.607      0.000      -2.530      -0.749
==============================================================================

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [284]:
reg_logit(win = 1, s = 's3')

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset          ch_cs  \
count  2709.000000  2709.000000  2709.000000  2709.000000    2709.000000
mean      0.418393    -0.008833    -0.007149     0.611738     321.646640
std      26.734416     0.218749     0.174370     0.226786   16508.187486
min     -68.915313    -4.070211    -3.807424    -1.000000      -8.872340
25%      -0.072384    -0.017427    -0.005974     0.467554      -0.087600
50%       0.019275     0.005036     0.000000     0.650530       0.048225
75%       0.103942     0.038018     0.018097     0.785279       0.213294
max    1387.843137     1.129488     0.865672     0.999947  859190.000000

            ch_roa        issue           s3       label
count  2709.000000  2709.000000  2709.000000  2709.00000
mean     -0.012358     0.930602     0.725312     0.16316
std       1.858482     0.254177     0.112259     0.36958
min     -55.813320     0.000000     0.154513     0.00000
25%      -0.051506     1.000000     0.666260     0.00000
50%       0.000318     1.000000     0.739557     0.00000
75%       0.042594     1.000000     0.803467     0.00000
max      34.685335     1.000000     0.987374     1.00000

before scale
          rsst_acc       ch_rec       ch_inv   soft_asset        ch_cs  \
count  2709.000000  2709.000000  2709.000000  2709.000000  2709.000000
mean      0.047595     0.781079     0.813224     0.805891     0.000385
std       0.018352     0.042070     0.037314     0.113396     0.019213
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.047258     0.779427     0.813476     0.733796     0.000010
50%       0.047321     0.783747     0.814754     0.825287     0.000010
75%       0.047379     0.790090     0.818627     0.892663     0.000011
max       1.000000     1.000000     1.000000     1.000000     1.000000

            ch_roa        issue           s3       label
count  2709.000000  2709.000000  2709.000000  2709.00000
mean      0.616594     0.930602     0.725312     0.16316
std       0.020536     0.254177     0.112259     0.36958
min       0.000000     0.000000     0.154513     0.00000
25%       0.616162     1.000000     0.666260     0.00000
50%       0.616734     1.000000     0.739557     0.00000
75%       0.617202     1.000000     0.803467     0.00000
max       1.000000     1.000000     0.987374     1.00000

0    2267
1     442
Name: label, dtype: int64
Optimization terminated successfully.
         Current function value: 0.433215
         Iterations 17

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

                           Logit Regression Results
==============================================================================
Dep. Variable:                  label   No. Observations:                 2709
Model:                          Logit   Df Residuals:                     2700
Method:                           MLE   Df Model:                            8
Date:                Sat, 20 Jun 2020   Pseudo R-squ.:                 0.02620
Time:                        20:28:25   Log-Likelihood:                -1173.6
converged:                       True   LL-Null:                       -1205.2
                                        LLR p-value:                 1.113e-10
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -12.2372      3.093     -3.956      0.000     -18.300      -6.174
rsst_acc      -3.4178      7.635     -0.448      0.654     -18.382      11.547
ch_rec        10.0074      2.743      3.648      0.000       4.631      15.384
ch_inv         3.7055      2.924      1.267      0.205      -2.026       9.437
soft_asset    -0.2383      0.478     -0.498      0.618      -1.176       0.699
ch_cs       -159.2994    423.000     -0.377      0.706    -988.364     669.765
ch_roa         0.3273      2.732      0.120      0.905      -5.028       5.682
issue          1.1140      0.317      3.516      0.000       0.493       1.735
s3            -1.6463      0.451     -3.646      0.000      -2.531      -0.761
==============================================================================

In [260]:
df_merge_1.shape

(7257, 26)

In [239]:
df_merge_1.label.value_counts()

0    2267
1     442
Name: label, dtype: int64

In [240]:
df_merge_1.loc[:,['label','s1','rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue']].describe()

,label,s1,rsst_acc,ch_rec,ch_inv,soft_asset,ch_cs,ch_roa,issue
count,2709.00000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000
mean,0.16316,0.714926,0.418393,-0.008833,-0.007149,0.611738,321.646640,-0.012358,0.930602
std,0.36958,0.111847,26.734416,0.218749,0.174370,0.226786,16508.187486,1.858482,0.254177
min,0.00000,0.166167,-68.915313,-4.070211,-3.807424,-1.000000,-8.872340,-55.813320,0.000000
25%,0.00000,0.655505,-0.072384,-0.017427,-0.005974,0.467554,-0.087600,-0.051506,1.000000
50%,0.00000,0.729345,0.019275,0.005036,0.000000,0.650530,0.048225,0.000318,1.000000
75%,0.00000,0.791939,0.103942,0.038018,0.018097,0.785279,0.213294,0.042594,1.000000
max,1.00000,0.979765,1387.843137,1.129488,0.865672,0.999947,859190.000000,34.685335,1.000000

In [236]:
df_merge_1.loc[:,['label','s1','rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue']].describe()

,label,s1,rsst_acc,ch_rec,ch_inv,soft_asset,ch_cs,ch_roa,issue
count,2709.00000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000
mean,0.16316,0.714926,0.047595,-0.008833,-0.007149,0.611738,321.646640,-0.012358,0.930602
std,0.36958,0.111847,0.018352,0.218749,0.174370,0.226786,16508.187486,1.858482,0.254177
min,0.00000,0.166167,0.000000,-4.070211,-3.807424,-1.000000,-8.872340,-55.813320,0.000000
25%,0.00000,0.655505,0.047258,-0.017427,-0.005974,0.467554,-0.087600,-0.051506,1.000000
50%,0.00000,0.729345,0.047321,0.005036,0.000000,0.650530,0.048225,0.000318,1.000000
75%,0.00000,0.791939,0.047379,0.038018,0.018097,0.785279,0.213294,0.042594,1.000000
max,1.00000,0.979765,1.000000,1.129488,0.865672,0.999947,859190.000000,34.685335,1.000000

In [241]:
from sklearn.preprocessing import MinMaxScaler

In [242]:
df_merge_2 = df_merge_1.copy()
scaler = MinMaxScaler()
df_merge_2[['rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa']] = scaler.fit_transform(df_merge_2[['rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa']])

In [243]:
df_merge_2.loc[:,['label','s1','rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue']].describe()

,label,s1,rsst_acc,ch_rec,ch_inv,soft_asset,ch_cs,ch_roa,issue
count,2709.00000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000,2709.000000
mean,0.16316,0.714926,0.047595,0.781079,0.813224,0.805891,0.000385,0.616594,0.930602
std,0.36958,0.111847,0.018352,0.042070,0.037314,0.113396,0.019213,0.020536,0.254177
min,0.00000,0.166167,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.655505,0.047258,0.779427,0.813476,0.733796,0.000010,0.616162,1.000000
50%,0.00000,0.729345,0.047321,0.783747,0.814754,0.825287,0.000010,0.616734,1.000000
75%,0.00000,0.791939,0.047379,0.790090,0.818627,0.892663,0.000011,0.617202,1.000000
max,1.00000,0.979765,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [244]:
import statsmodels.api as sm

In [245]:
X_orgi = df_merge_2.loc[:,['rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue']]

X_orgi = sm.add_constant(X_orgi)

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [246]:
X = df_merge_2.loc[:,['rsst_acc','ch_rec','ch_inv','soft_asset','ch_cs','ch_roa','issue','s1']]

In [247]:
X = sm.add_constant(X)

/home/jujun/.local/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [248]:
y = df_merge_2.label

In [249]:
results_orgi = sm.OLS(y, X_orgi).fit()
print(results_orgi.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  label   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     4.510
Date:                Sat, 20 Jun 2020   Prob (F-statistic):           5.21e-05
Time:                        17:03:28   Log-Likelihood:                -1131.2
No. Observations:                2709   AIC:                             2278.
Df Residuals:                    2701   BIC:                             2326.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.5346      0.271     -1.975      0.048      -1.065      -0.004
rsst_acc      -0.1738      0.386     -0.450      0.653      -0.931       0.583
ch_rec         0.5557      0.207      2.686      0.007       0.150       0.961
ch_inv         0.1590      0.232      0.684      0.494      -0.297       0.615
soft_asset     0.0032      0.063      0.051      0.959      -0.120       0.126
ch_cs         -0.1949      0.376     -0.518      0.605      -0.933       0.543
ch_roa         0.0657      0.352      0.187      0.852      -0.625       0.757
issue          0.1071      0.028      3.844      0.000       0.052       0.162
==============================================================================
Omnibus:                      780.432   Durbin-Watson:                   1.062
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1623.118
Skew:                           1.788   Prob(JB):                         0.00
Kurtosis:                       4.259   Cond. No.                         128.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [250]:
results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  label   R-squared:                       0.017
Model:                            OLS   Adj. R-squared:                  0.014
Method:                 Least Squares   F-statistic:                     5.877
Date:                Sat, 20 Jun 2020   Prob (F-statistic):           1.78e-07
Time:                        17:03:29   Log-Likelihood:                -1123.5
No. Observations:                2709   AIC:                             2265.
Df Residuals:                    2700   BIC:                             2318.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.3950      0.272     -1.451      0.147      -0.929       0.139
rsst_acc      -0.3060      0.387     -0.791      0.429      -1.064       0.452
ch_rec         0.5906      0.207      2.860      0.004       0.186       0.996
ch_inv         0.1725      0.232      0.744      0.457      -0.282       0.627
soft_asset     0.0034      0.063      0.054      0.957      -0.119       0.126
ch_cs         -0.2257      0.375     -0.601      0.548      -0.962       0.511
ch_roa         0.0826      0.352      0.235      0.814      -0.607       0.772
issue          0.1020      0.028      3.667      0.000       0.047       0.157
s1            -0.2482      0.063     -3.909      0.000      -0.373      -0.124
==============================================================================
Omnibus:                      773.206   Durbin-Watson:                   1.072
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1598.340
Skew:                           1.774   Prob(JB):                         0.00
Kurtosis:                       4.252   Cond. No.                         136.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.